body {
    margin: 0;
    padding: 0;
}

.conatct {
    background-color: #a4d2e2;
    height: 30vh;
    color: white;
    padding-right: 3rem;

    a {
        color: white;
    }

    .contact-links {
        float: left;
        text-align: left;
        list-style-type: none;
    }

    .conatct-rechts {
        float: right;
        text-align: right;
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }

    .Facebook {
        float: left;
    }

    .Instagram {
        float: left;
    }

    .social {
        display: flex;
        gap: 0.5%;
        justify-content: center;
        align-items: flex-end;
    }

    form{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 10px;
        margin-top: 1rem;
        left: 40%;
        background-color: #4BAAC5;

        label{
            input{
                width: 200px;
                height: 50px;
            }
        }

        input{
            height: 55px;
        }
    }
}
